extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    p 컨텐츠
    p.well(style='white-space:pre;')= post.content
    p 편의 시설
    p.well(style='white=space:pre;')= post.infra
    p 가격
    p.well(style='white-space:pre;')= post.pay
    p 우편번호
    p.well(style='white-space:pre;')= post.postcode
    p 주소
    p.well(style='white-space:pre;')= post.address 
    
    a.btn.btn-default(href='/posts') 목록
